.title {
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    &_left {
        text-align: left;
    }
}

.subtitle {
    position: relative;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    @include text-gradient;
    padding-bottom: 67px;
    &:after {
        content: url('../icons/mainscreen_line.svg');
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &_left {
        text-align: left;
        &::after {
            left: 0;
            transform: none;
        }
    }
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 34px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__icon {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 60px;
        width: 100%;
        height: 60px;
        border: 1px solid rgba(147, 147, 147, 0.4);
        border-radius: 50%;
        &-inner {
            width: 35px;
            height: 35px;
        }
    }
    &__text {
        max-width: 475px;
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
        color: $white;
    }
    &__descr {
        margin-top: 9px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #939393;
        text-align: left;
    }
}