.modal {
    display: none;
    position: relative;
    max-width: 950px;
    background: #000000;
    padding: 60px 98px 72px;
    &__form {
        margin-top: 26px;
        margin-bottom: 94px;
        display: flex;
        justify-content: space-between;
        & .error {
            border: 1px solid #f4c07c;
            border-radius: 5px;
            box-shadow: 0 0 10px #f4c07c;
        }
    }
    &__input {
        width: 242px;
        min-height: 51px;
        padding: 10px;
        border: none;
        border-bottom: 2px solid $white;
        color: $white;
        outline: 0;
        font-size: 14px;
        background: none;
        resize: none;
        transition: all .15s ease-in-out;
        &:focus {
            border-bottom: 2px solid #f4c07c;
        }
        &::-moz-placeholder {
            color: $white;
        }
        &::-webkit-input-placeholder {
            color: $white;
        }
    }
    &__btn {
        position: absolute;
        bottom: 72px;
        left: 50%;
        transform: translateX(-50%);
    }
    .fancybox-button {
        padding: 0px;
    }
    .fancybox-button svg {
        height: 34px;
        width: 34px;
    }
    .fancybox-button svg path {
        fill: #313130;
    }
    .fancybox-slide--html .fancybox-close-small {
        padding: 0;
    }
}

.thanks {
    display: none;
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 30, 30, .9);
        z-index: 999;
    }
    &__text {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        min-height: 100px;
        background: #1e2632;
        opacity: .85;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        z-index: 1000;
        color: $white;
    }
    &__subheader {
        font-size: 20px;
        background-image: $main-color;
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &_f28 {
            font-size: 28px;
        }
    }
}